@font-face {
  font-family: vrcMono;
  src: url(BalsamiqSans-Regular.ttf);
}

body {
  background-color: #86d987;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
